

ul{
    padding: 0;
    margin-bottom: 0;
}
ul li {
    border: 1px solid rgb(17, 32, 200);
    list-style: none;
    padding: 5px;
}
h1{
    text-align: center;
    color: red;
}
input{
    border: none;
    width: 100%;
}
.todosN{
    color: red;
}